<%- include('./include/head') %>
</head>

<body>
  <%- include('./include/nav.ejs') %>
    <main>

      <form class="form" action="/guides/<%= items.id %>">
        <input type="text" class="input" name="id" />
        <input type="submit" class="btn" />
      </form>


          <% for(var i=0; i < items.length; i++) { %>
            <div class="grid">
                <article class="card product-item">
                  <header class="card__header">
                   <strong>Name: <%= items[i].name %><br /></strong> 
                  </header>

                  <div class="card__content">
                    <strong>ID: <a href="/guides/<%= items[i].id %>"><%= items[i].id %></a> <br /></strong>
                    <strong>MSU URL:<a href=<%= items[i].url %> ><%= items[i].url %></a></strong>
                </div>
                <div class="card__actions">
              </div>
          </article>
        </div>
      <% } %>


    </main>
</body>

<%- include('./include/footer.ejs') %>

<%- include('./include/end.ejs') %>